<h1 align="center"><%= @user.name %> is following<img class="header-logo" src="/travelbug3_hollow_blackish.svg" width="8px"><img class="header-logo" src="/travelbug3_hollow_blackish.svg" width="8px"><img class="header-logo" src="/travelbug3_hollow_blackish.svg" width="8px"></h1>

<%= render partial: "relationships", locals: {relationships: @user.followees} %>
