<h1>Review for <%= @trip.title %></h1>

<hr>

By: <%= @review.reviewer.name %> <br>
Comment: <%= @review.comment %> <br>

<br><br>
<!-- <%= link_to "Edit Trip Review", edit_trip_review_path(@trip, @review)%> -->
