<h1 align="center">Review for <%= @trip.title %><img class="header-logo" src="/travelbug2_hollow_black.svg" width="15px"></h1>

<hr>

<div class="review-container">
  <div class="empty"></div>
  <div class="reviewer-wrapper">
    <div class="reviewer">
      By: <%= @review.reviewer.name %> <br>
      Comment: <%= @review.comment %> <br>

      <br><br>
    </div>
    <div class="edit-review">
      <% if @review.reviewer == current_user %>
      <%= link_to "Edit Trip Review", edit_trip_review_path(@trip, @review)%>
      <% end %>
    </div>
  </div>
  <div class="empty"></div>
</div>
