<h1>Review for <%= @trip.title %><img class="header-logo" src="/travelbug2_hollow_black.svg" width="15px"></h1>

<hr>

By: <%= @review.reviewer.name %> <br>
Comment: <%= @review.comment %> <br>

<br><br>

<% if @review.reviewer == current_user %>
<%= link_to "Edit Trip Review", edit_trip_review_path(@trip, @review)%>
<% end %>
